/* SIDEBAR */

.sidebar-title{

    font-weight:600;
    padding:16px 14px;
    border-bottom:1px solid #eee;

}


/* MAIN ITEMS */

.sidebar-item{

    padding:10px 14px;
    cursor:pointer;
    font-size:14px;

}

.sidebar-item:hover{

    background:#f4f6f8;

}

.sidebar-item.active{

    background:#e6f0ff;
    color:#1a73e8;
    font-weight:600;

}


/* SECTION */

.sidebar-section{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:10px 14px;

    cursor:pointer;
    font-size:14px;
    font-weight:500;

}

.sidebar-section:hover{

    background:#f4f6f8;

}


/* SUBMENU */

.submenu-container{

    max-height:0;
    overflow:hidden;

    transition:max-height 0.25s ease;

}

.submenu-container.open{

    max-height:500px;

}

.submenu-item{

    padding:8px 30px;
    font-size:13px;
    cursor:pointer;

}

.submenu-item:hover{

    background:#f7f9fb;

}

.submenu-item.active{

    background:#e6f0ff;
    color:#1a73e8;
    font-weight:600;

}


/* ARROW */

.arrow{

    font-size:12px;
}
